*{
    margin: 0;
    padding: 0;
}


.wrapper{
    height: 1500px;
    width: 2000px;
    background-color: yellowgreen;
    border: 1px solid black;
   display: inline-block;
}

/* #box3{
   position: absolute;
    top: 100px;
    left: 30px;
} */

#box3{
 position :fixed;
}
.box{
    height: 150px;
    width: 150px;
    background-color: rgb(134, 27, 142);
    border: 1px solid black;
   
}


