
    #img1{
    float: right;
    border: solid black 2px ;
    }

    #img2{
    float: right;
    border: solid black 2px ;
    clear: left;
    }



    #img3{
        float:left;
        margin: 10px;
        border: black 4px solid;
        clear: right;
        } 

    

    