* {
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;
  padding: 50px;
  display: flex;
}
.Card {
  border: 3px solid white;
  height: 450px;
  width: 280px;
  border-radius: 18px;
  background-color: white;
  margin: 10px;
  padding: 5px 5px 34px 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#img {
  height: 170px;
  width: 270px;
  padding: 2.5px;
}

#img img {
  border-radius: 16px;
}

#heading {
  padding: 4px;
  margin-left: 9px;
}

#capsule {
  padding: 13px;
  color: grey;
}
#capsule span {
  border: 2px solid grey;
  border-radius: 17px;
  padding: 3px 10px 3px 10px;
  font-size: 14px;
  margin-right: 4px;
}

#content {
  margin-left: 15px;
  margin: 8px;
  color: grey;
  font-size: 15px;
}

#button {
  padding: 10px;
}

.button {
  text-align: center;
  padding: 15px;
}

.button button {
  border: 1px solid grey;

  border-radius: 17px;
  color: rgb(9, 98, 223);
  background-color: rgb(176, 220, 235);
  padding: 8px 15px 8px 15px;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.button button:hover {
  color: rgb(73, 124, 194);
  background-color: rgb(218, 236, 243);
}
